<div>{{{contentMail}}}</div>
<p>Để buổi phỏng vấn diễn ra thành công theo kế hoạch, bạn vui lòng click vào
  đường link bên dưới để xác nhận tham gia phỏng vấn:</p>
<div>
  <a href={{url}} target='_blank'>Click here</a>
</div>